<div class="col-md-7">
  <p id="notice"><%= notice %></p>

  <h1>Users List</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Contact</th>
      <th>Address</th>
      <th>State</th>
      <th>Postcode</th>

    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= user.contact %></td>
        <td><%= user.address.address %></td>
        <td><%= user.address.state %></td>
        <td><%= user.address.postcode %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%#= link_to 'New User', new_user_path %>
</div>