<div class="col-md-7">
  <p id="notice"><%= notice %></p>

  <h1>Your Orders</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>User buyer</th>
      <th>User customer</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product.name %></td>
        <td><%= order.product.price %></td>
        <td><%= order.user_buyer.name %></td>
        <td><%= order.user_customer.name %></td>
        <td><%= link_to 'Delete Order', order, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="panel">
    <h2>Total Price: <%= @orders.inject(0) {|sum, e| sum + e.product.price} %></h2>
  </div>

  <br>

  <div class="actions pull-right">
    <%= link_to 'Checkout Now', transactions_path, :class => 'btn btn-primary' %>
  </div>
</div>