<div class="col-md-10">
  <h1>New Order</h1>


  <div class="panel panel-info">
    <div class="panel-heading">
      View Products Details
    </div>
    <div class="panel-body">
      <p id="notice"><%= notice %></p>


      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title"><%= @product.name %></h4>
            <span class="card-text">$<%= @product.price %></span>
            <p class="card-text"><%= @product.description %></p>
          </div>
          <div class="card-footer">
            <%#= link_to 'Order Now', new_product_order_path(@product), :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'form', order: @order %>

  <%#= link_to 'Back', orders_path %>

</div>