<div class="col-md-10">
  <h4>Confirm Your Order - You will need to purchase this order only after the user pay the amount</h4>


  <div class="panel panel-info">
    <div class="panel-heading">
      View Products Details
    </div>
    <div class="panel-body">
      <p id="notice"><%= notice %></p>


      <div class="col-md-4 mb-5">
        <div class="card h-100">

          <% if @product.image.attached? %>
            <%= image_tag(@product.image, :class => "card-img-top", :height => 200, :width => 200) %>
          <% end %>

          <div class="card-body">
            <h4 class="card-title"><b>Product Name:</b> <%= @product.name %></h4>
            <span class="card-text"><b>Price:</b> $<%= @product.price %></span>
            <p class="card-text"><b>Description:</b> <%= @product.description %></p>
            <p class="card-text"><b>Buyer:</b> <%= @product.user.name %></p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'form', order: @order %>

  <%#= link_to 'Back', orders_path %>

</div>