<div class="panel panel-default">
  <!--  <div class="panel-heading">Please Enter your login details</div>-->
  <div class="panel-body">

    <%= form_with(model: product, local: true) do |form| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :product_category_id %>
        <%= form.select(:product_category_id, options_for_select(@categories.map {|category| [category[:name], category[:id]]}), {}, {:class => "form-control"}) %>
      </div>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :price %>
        <%= form.text_field :price, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :image %>
        <%= form.text_field :image, :class => 'form-control' %>
      </div>

      <div class="actions pull-right">
        <%= form.submit :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
