<!DOCTYPE html>
<html>
<head>
  <title>Japan Personal Shopper | A personal shopping website</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body data-no-turbolink="true">

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'JPS', root_path, :class => 'navbar-brand' %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Product Category
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% @categories.each do |category| %>
              <li class="dropdown-item">
                <%= link_to category.name, root_path(:category => category.id) %>
              </li>
            <% end %>
          </ul>
        </li>
        <% unless @current_user.present? %>
          <li><%= link_to('Contact Us', contact_path) %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @current_user.present? %>
          <% if @current_user.user_type == USER_TYPES[:ADMIN] %>

            <li>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products Management
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to 'Products', :controller => :products, :action => :products, :method => :get %></li>
                <li><%= link_to 'Products Category', :controller => :product_categories, :action => :index, :method => :get %></li>

              </ul>
            </li>


            <li>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order Management
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to 'Transactions', :controller => :transactions, :action => :all, :method => :get %></li>
                <li><%= link_to 'Orders', :controller => :orders, :action => :all, :method => :get %></li>

              </ul>
            </li>


            <li><%= link_to 'Feedbacks', :controller => :feedbacks, :action => :index, :method => :get %></li>
          <% else %>

            <li>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products Management
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to 'Create New Product', new_product_path %></li>
                <li><%= link_to 'Products', :controller => :products, :action => :index %></li>
              </ul>
            </li>


            <li>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order Management
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to 'Orders', orders_path %></li>
                <li><%= link_to 'Transactions', transactions_path %></li>
              </ul>
            </li>
          <% end %>

          <li>
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to 'My Profile', :controller => 'users', :action => :profile %></li>
              <li><%= link_to("Sign out", logout_path) %></li>
            </ul>
          </li>

        <% end %>

        <% unless @current_user.present? %>
          <li><%= link_to('Sign in', new_session_path) %></li>
          <li><%= link_to('Registration', new_user_path, data: {turbolinks: false}) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="main container">
  <%= yield %>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark navbar navbar-fixed-bottom">
  <div class="container">
    <h4 class="m-0 text-center text-white">Copyright &copy; Japan Personal Shopper, 2019</h4>
  </div>
  <!-- /.container -->
</footer>

</body>
</html>
